<div class="container">
	<div class="row">
		<div class="col-lg-10 ">
            <h1 class="page-header">About Us
                <small>We Help Growing...</small>
            </h1>
        </div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-md-10">
			<p>
			Majority of students aspire to become Doctor & Engineer but very few of them realize their aspirations because they lack proper guidance despite deserving to compete. In fact, if they are motivated and trained properly for the preparation of these competitive exams with an edge, they are bound to succeed. Aiming to help realize the dreams of thousands of such students, JJTC was founded in the year 2008. It was started as a humble coaching institute with 10 students only, who trusted on our simple vision of enlightening the deserving minds. Gradually, with the consistent support of well-wishers and mentors, JJTC has today become a rare phenomenon.
			</p>
			<p>
			However, who made this grand accomplishment possible, is something very interesting to know? This is no one but an iron-willed visionary Mr. P H KHIRAIYYA , who turned JJTC - an unparalleled brand on the landscape of Educational Institute in Nagpur. The two separate units of JJTC are JJTC Junior & JJTC Foundations. Both the divisions run under the aegis of JJ EDUCARE Pvt. Ltd (JJEPL). And, these two divisions work as separate operating units in order to facilitate varied students coming from different shades.
			</p>
		</div>
	</div>
</div>