


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jai jalaram Tuition Classes</title><link type="text/css" rel="stylesheet" href="frontend/css/css.css"   />
<link type="text/css" rel="stylesheet" href="frontend/css/menu-top.css"   />
<!-- ########## CSS Files ########## -->
<!-- Screen CSS -->
<link type="text/css" rel="stylesheet" href="frontend/css/banner.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="js/jquery/themes/base/jquery.ui.all.css" />
<!-- lightbox CSS -->
<link type="text/css" rel="stylesheet" href="frontend/js/prettyPhoto/css/prettyPhoto.css"  media="screen" />
<link type="text/css" rel="stylesheet" href="frontend/css/common.css" media="screen" />
<link rel="shortcut icon" type="image/x-icon" href="theme/default/images/r-online.jpg">

<!-- ########## end css ########## -->

<!-- JAVASCRIPT GOES HERE -->
<script type='text/javascript' language="javascript" src='frontend/js/jquery.js'></script>
<script type="text/javascript" language="javascript" src="js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" language="javascript" src="frontend/js/prettyPhoto/js/jquery.prettyPhoto.js" ></script>
<script type='text/javascript' language="javascript" src='frontend/js/jquery.aviaSlider.min.js'></script>
<script type='text/javascript' language="javascript" src='frontend/js/custom.min.js'></script>
<script type="text/javascript" language="javascript" src="frontend/js/commonfrontend.js" ></script>
<script type="text/javascript" language="javascript" src="frontend/js/genericJavascript.js" ></script>
<script type="text/javascript" language="javascript" src="js/jquery/ui/jquery.ui.datepicker.js"></script>
</head>
<body>
<!--   main div start -->
<div  class="bodydiv">
  <div  class="maindiv"> 
	<!-- Header -->
	<div  class="tophead">
      <table width="100%" border="0" cellspacing="1" cellpadding="1">
        <tr>
          <td class="logodiv"><img src="frontend/images/logo/logo.jpg" /></td>
          
          <td width="100%" valign="bottom"><div style="float:right"><a href="online-registration.html" title="Register here"><img alt="" src="frontend/images/icon/register_now-icon.png" height="40" width="116" /></a></div></td>
       </tr>
      </table>
   
      </table></div>
<div class="menudiv">
	<ul class="ws_css_cb_menu videoCssMenu">
		<li>
			<a href="index.html" title="Home" >Home</a>
		</li>
		<li>
			<a href="aboutus.html" title="About Us">About Us</a>
		</li>
				<li>
			<a href="#" title="View all videos under Technology">
			<span>Student Corner </span>
			<![if gt IE 6]>
			</a>
			<![endif]>
			<!--[if lte IE 6]><table><tr><td><![endif]-->
			<!--
			<ul class='ws_css_cb_menum' style="width:140px;">
				<li>
					<a href="#" title="View all videos under CSS Resources">Student Corner </a>
				</li>
				<li>
					<a href="#" title="About Open Source projects">Student Corner </a>
				</li>
				<li>
					<a href="#" title="View all videos under Programming">Student Corner </a>
				</li>
			</ul>
			<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		<!--
		</li>
		-->
		<li>
			<a href="studentcorner.html" title="Student Corner">Student Corner</a>
		</li>
		<li>
			<a href="photogallery.html" title="Photo Gallery">Photo Gallery</a>
		</li>
		<li>
			<a href="testimonials.html" title="Testimonials">Testimonials </a>
		</li>
		
		<li>
			<a href="contactus.html" title="Contact Us">Contact Us</a>
		</li>
		<!--<li class="searchbox" style="float:right; border-right:none;">
			<form id="form1" name="form1" method="post" action="">
				<input type="text" name="textfield" id="textfield" class="searchtextbox" />
				<input type="submit" name="button" id="button" value="Search" class="searchbutton" />
			</form>
		</li>-->
	</ul>
</div>
<!-- ======================================================= -->
    

	<!-- End Header -->
		<!-- Main Content-->
		<div  class="banner">
	<table width="200" border="0" cellspacing="1" cellpadding="1">
		<tr>
			<td  valign="top" height="265px">
			<div class="rightdiv">
              <h3 class="title">Courses Offered</h3>
              <div style="height:220px;overflow-y:auto;">
<ul  id="mainul">
			<li class="mainli" id="1" onclick="toggleSubject(1)" style="cursor:pointer;">
			XII Science				
				<ul id="mainul" class="subject_1 hide" >
							<li class="mainli">Biology</li>
							<li class="mainli">Chemistry</li>
							<li class="mainli">Electronics</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Physics</li>
							</ul>
					</li>
<li class="mainli" id="10" onclick="toggleSubject(10)" style="cursor:pointer;">
			XII Commerce				
				<ul id="mainul" class="subject_10 hide" >
							<li class="mainli">Account</li>
							<li class="mainli">English</li>
							</ul>
					</li>
			<li class="mainli" id="2" onclick="toggleSubject(2)" style="cursor:pointer;">
			X Higher English				
				<ul id="mainul" class="subject_2 hide" >
							<li class="mainli">English</li>
							<li class="mainli">Hindi</li>
							<li class="mainli">Marathi</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Science</li>
							<li class="mainli">Social science</li>
							</ul>
					</li>
			<li class="mainli" id="3" onclick="toggleSubject(3)" style="cursor:pointer;">
			X Lower English				
				<ul id="mainul" class="subject_3 hide" >
							<li class="mainli">English</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Science</li>
							</ul>
					</li>
			<li class="mainli" id="4" onclick="toggleSubject(4)" style="cursor:pointer;">
			X CBSE				
				<ul id="mainul" class="subject_4 hide" >
							<li class="mainli">Biology</li>
							<li class="mainli">Chemistry</li>
							<li class="mainli">English</li>
							<li class="mainli">Hindi</li>
							<li class="mainli">Marathi</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Physics</li>
							<li class="mainli">Social science</li>
							</ul>
					</li>
			<li class="mainli" id="5" onclick="toggleSubject(5)" style="cursor:pointer;">
			IX CBSE				
				<ul id="mainul" class="subject_5 hide" >
							<li class="mainli">Biology</li>
							<li class="mainli">Chemistry</li>
							<li class="mainli">English</li>
							<li class="mainli">Hindi</li>
							<li class="mainli">Marathi</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Physics</li>
							<li class="mainli">Social science</li>
							</ul>
					</li>
			<li class="mainli" id="6" onclick="toggleSubject(6)" style="cursor:pointer;">
			X (Marathi)				
				<ul id="mainul" class="subject_6 hide" >
							<li class="mainli">English</li>
							<li class="mainli">Maths</li>
							</ul>
					</li>
			<li class="mainli" id="7" onclick="toggleSubject(7)" style="cursor:pointer;">
			JEE				
				<ul id="mainul" class="subject_7 hide" >
							<li class="mainli">Chemistry</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Physics</li>
							</ul>
					</li>
			<li class="mainli" id="8" onclick="toggleSubject(8)" style="cursor:pointer;">
			AIPMT/PMT				
				<ul id="mainul" class="subject_8 hide" >
							<li class="mainli">Biology</li>
							<li class="mainli">Chemistry</li>
							<li class="mainli">Physics</li>
							</ul>
					</li>
			<li class="mainli" id="9" onclick="toggleSubject(9)" style="cursor:pointer;">
			IX 				
				<ul id="mainul" class="subject_9 hide" >
							<li class="mainli">English</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Science</li>
							</ul>
					</li>
	</ul>
</div>
<script type="text/javascript">
function toggleSubject(liId){
	$(".subject_"+liId).toggle();
}
</script>
	
            </div>
			</td>
			<td valign="top"  rowspan="2" style="padding-left:20px;">
			
		
<h3 class="title"> Contact Us</h3>
<div>
	<table border="0" cellspacing="5" cellpadding="5" >
		<tr>
			<td>Mr. Pratik.H.Khiraiyya(Business Development & Operations) </td>
			<tr><td><b>Contact No:</b>08983899527</td>
		</tr>
</tr>
		<tr>
			<td><b>Main Branch :</b>
				<br />
				632 Gujrati Colony Near Shiv-Hanuman Mandir B/H Gomti Hotel kalmana market road<br />
				Nagpur 440035 <br />
				</td>
<tr>			
<td><b>Branch I :</b>
				<br />
				15,Opp Old Nagpue School<br />
				Bharatwada Road Nagpur - 440035. <br />
</tr>
			</td>
		</tr>
		<tr>
			 <td></td>
		</tr>        
				
	</table>
</div>
		</td>
		</tr>
		<tr>
			<td align="left" valign="top" class="cola">
			<div class="spc">
			</div>
			
</body>

</html>