
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jai Jalaram Tuition Classes</title><link type="text/css" rel="stylesheet" href="frontend/css/css.css"   />
<link type="text/css" rel="stylesheet" href="frontend/css/menu-top.css"   />
<!-- ########## CSS Files ########## -->
<!-- Screen CSS -->
<link type="text/css" rel="stylesheet" href="frontend/css/banner.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="js/jquery/themes/base/jquery.ui.all.css" />
<!-- lightbox CSS -->
<link type="text/css" rel="stylesheet" href="frontend/js/prettyPhoto/css/prettyPhoto.css"  media="screen" />
<link type="text/css" rel="stylesheet" href="frontend/css/common.css" media="screen" />
<link rel="shortcut icon" type="image/x-icon" href="theme/default/images/r-online.jpg">

<!-- ########## end css ########## -->

</head>
<body>
<!--   main div start -->
<div  class="bodydiv">
  <div  class="maindiv"> 
	<!-- Header -->
	<div  class="tophead">
      <table width="100%" border="0" cellspacing="1" cellpadding="1">
        <tr>
          <td class="logodiv"><img src="frontend/images/logo/logo.jpg" /></td>
          
          <td width="100%" valign="bottom"><div style="float:right"><a href="online-registration.html" title="Register here"><img alt="" src="frontend/images/icon/register_now-icon.png" height="40" width="116" /></a></div></td>
       </tr>
      </table>
   
      </table></div>
<div class="menudiv">
	<ul class="ws_css_cb_menu videoCssMenu">
		<li>
			<a href="index.html" title="Home" >Home</a>
		</li>
		<li>
			<a href="aboutus.html" title="About Us">About Us</a>
		</li>
		<!--
		<li>
			<a href="#" title="View all videos under Technology">
			<span>Student Corner </span>
			<![if gt IE 6]>
			</a>
			<![endif]>
			<!--[if lte IE 6]><table><tr><td><![endif]-->
			<!--
			<ul class='ws_css_cb_menum' style="width:140px;">
				<li>
					<a href="#" title="View all videos under CSS Resources">Student Corner </a>
				</li>
				<li>
					<a href="#" title="About Open Source projects">Student Corner </a>
				</li>
				<li>
					<a href="#" title="View all videos under Programming">Student Corner </a>
				</li>
			</ul>
			<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		<!--
		</li>
		-->
		<li>
			<a href="studentcorner.html" title="Student Corner">Student Corner</a>
		</li>
		<li>
			<a href="photogallery.html" title="Photo Gallery">Photo Gallery</a>
		</li>
		<li>
			<a href="testimonials.html" title="Testimonials">Testimonials </a>
		</li>
		<li>
			<a href="contactus.html" title="Contact Us">Contact Us</a>
		</li>
		<!--<li class="searchbox" style="float:right; border-right:none;">
			<form id="form1" name="form1" method="post" action="">
				<input type="text" name="textfield" id="textfield" class="searchtextbox" />
				<input type="submit" name="button" id="button" value="Search" class="searchbutton" />
			</form>
		</li>-->
	</ul>
</div>
<!-- ======================================================= -->
    

	<!-- End Header -->
		<!-- Main Content-->
		<div id="content">
	<div id="innerContent">
		<div id="divonlineStudentDetails">
			
<div id="divonlineregistrationDiv">
	<table width="99%" border="0" align="Right" cellpadding="0" cellspacing="0" style=" padding:5px;">
		<tr>
			<td valign="center" align="Left" class="registration"><strong><font face="cursive" size="2">Student Registration Form</font></strong></td>
		</tr>
	    <tr>
			<td align="left" valign="top"><form name="frmonlineregistration" id="frmonlineregistration" enctype="multipart/form-data">
					<table width="100%" border="0" cellspacing="5" cellpadding="5" style="border:#000 1px solid;border-radius:5px;padding:15px;">
						<tr>
							<td colspan="6"><a name='em'>
								<div id="frmonlineStudentDetailsErrMessage" class="frmErrMessage" style="padding:25px;"></div>
								</a></td>
						</tr>
						<tr>
							<td class="labelHeading">First Name</td>
							<td class="labelHeading">:</td>
							<td nowrap="nowrap">
<select name="cmbtitle" id="cmbtitle" required="true" message="Please select title">
    <option value="" label="Select">Select</option>
    <option value="Master" label="Master">Master</option>
    <option value="Mr" label="Mr">Mr</option>
    <option value="Mrs" label="Mrs">Mrs</option>
    <option value="Ms" label="Ms">Ms</option>
    <option value="Miss" label="Miss">Miss</option>
</select> 
<input type="text" name="txtfirstName" id="txtfirstName" value="" size="30" onKeyPress="onKeyPressed(event,'validateOnlineStudentDetailsForm()');" required="true" message="First name should not be blank" />							<td colspan="3" rowspan="7" class="txtCt"><table border='0' width='50%' cellpadding="2px" cellspacing="0px;">
									<tr>
										<td><img id='studentImage' src="theme/default/images/noimage.jpg" width="150" height="120" /></td>
									</tr>
									<tr>
										<td><span id='spnstudentImgInput'>
												
<input type="hidden" name="MAX_FILE_SIZE" value="2097152" id="MAX_FILE_SIZE" />
<input type="file" name="flonlinestudentImage" id="flonlinestudentImage" size="28" class="button-submit" />											</span>
											</td>
									</tr>
								</table></td>
						</tr>
						
						<tr>
							<td class="labelHeading">Middle Name</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtmiddleName" id="txtmiddleName" value="" size="30" onKeyPress="onKeyPressed(event,'validateOnlineStudentDetailsForm()');" /></td>
						</tr>
						<tr>
							<td class="labelHeading">Last Name</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtlastName" id="txtlastName" value="" size="30" onKeyPress="onKeyPressed(event,'validateOnlineStudentDetailsForm()');" required="true" message="Last name should not be blank" /></td>
						</tr>
						<tr>
							<td class="labelHeading">Address Line1</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtadd1" id="txtadd1" value="" size="30" onKeyPress="onKeyPressed(event,'validateContactForm()');" required="true" message="Address line 1 should not be blank." /></td>
						</tr>
						<tr>
							<td class="labelHeading">Address Line2</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtadd2" id="txtadd2" value="" size="30" onKeyPress="onKeyPressed(event,'validateContactForm()');" /></td>
						</tr>
					   <tr>
					   	<td width="218" class="labelHeading">Area </td>
							<td width="20" class="labelHeading">:</td>
							<td width="258">
<input type="text" name="txtarea" id="txtarea" value="" size="20" onKeyPress="onKeyPressed(event,'validateContactForm()');" /></td>
					   </tr>
						<tr>
							<td width="234" class="labelHeading">City</td>
							<td width="11" class="labelHeading">:</td>
							<td width="236">
<input type="text" name="txtcity" id="txtcity" value="" size="20" onKeyPress="onKeyPressed(event,'validateContactForm()');" required="true" message="City should not be blank." /></td>
					   </tr>
						<tr>
							<td class="labelHeading">State</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtstate" id="txtstate" value="" size="20" onKeyPress="onKeyPressed(event,'validateContactForm()');" required="true" message="State should not be blank." /></td>
							<td class="labelHeading">Pincode</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtpostCode" id="txtpostCode" value="" size="20" onKeyPress="onKeyPressed(event,'validateContactForm()');" required="true" message="Postcode should not be blank." /></td>
						</tr>
						<tr>
							<td class="labelHeading">Phone <span class="txtnormal">(with Code)</span></td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtphone" id="txtphone" value="" size="20" onKeyPress="onKeyPressed(event,'validateContactForm()');" /></td>
							<td class="labelHeading">Mobile</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtmobileNo" id="txtmobileNo" value="" size="20" required="true" message="Please enter mobile number" /></td>
						</tr>
						<tr>
							<td class="labelHeading">D.O.B (DD-MM-YY)</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtdob" id="txtdob" value="" size="20" onKeyPress="onKeyPressed(event,'validateOnlineStudentDetailsForm()');" required="true" message="Date of birth cannot be blank" /></td>
							<td class="labelHeading">Gender</td>
							<td class="labelHeading">:</td>
							<td>
<label for="rdgender-M"><input type="radio" name="rdgender" id="rdgender-M" value="M" checked="checked" />Male</label>&nbsp;<label for="rdgender-F"><input type="radio" name="rdgender" id="rdgender-F" value="F" />Female</label></td>
						</tr>
						<tr>
							<td class="labelHeading">Primary E-mail</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtemailId" id="txtemailId" value="" size="30" required="true" message="Please enter primary email address" /></td>
							
						</tr>
						<tr>
							<td class="labelHeading">Secondary E-mail</td>
							<td class="labelHeading">:</td>
							<td>
<input type="text" name="txtemailId2" id="txtemailId2" value="" size="30" required="true" message="Please enter secondary email address" /></td>
							
						</tr>
						<tr>
							<td class="labelHeading">Class for which admission is sought</td>
							<td class="labelHeading">:</td>
							<td>
<select name="txtclass" id="txtclass" onKeyPress="onKeyPressed(event,'validateOnlineStudentDetailsForm()');" required="true" message="Please select class.">
    <option value="" label="Select">Select</option>
    <option value="1" label="XII Science">XII Science</option>
    <option value="2" label="X Higher English">X Higher English</option>
    <option value="3" label="X Lower English">X Lower English</option>
    <option value="4" label="X CBSE">X CBSE</option>
    <option value="5" label="IX CBSE">IX CBSE</option>
    <option value="6" label="X (Marathi)">X (Marathi)</option>
    <option value="7" label="JEE">JEE</option>
    <option value="8" label="AIPMT/PMT">AIPMT/PMT</option>
    <option value="9" label="IX ">IX </option>
</select></td>
						</tr>
						<tr>
							<td colspan="6" class="txtnormal txtLf">
<input type="hidden" name="chkdeclaration" value="0" /><input type="checkbox" name="chkdeclaration" id="chkdeclaration" value="1" onclick="enableSubmit()" required="true" message="Please check the declaration checkbox." />								<small>( I Hereby declared that the particulars furnished above are true to the best of my knowledge &amp; belief. I have read the Prospectus &amp; rules and regulation. I hereby promise to abide by me.)</small></td>
						</tr>
						<tr>
							<td colspan="6" class="labelHeading">&nbsp;</td>
						</tr>
						<tr>
							<td class="txtCt" colspan="6">
<button name="btnSubmit" id="btnSubmit" type="button" class="backbutton" disabled="disabled" onclick="javascript:validateOnlineStudentDetailsForm();">Register</button>								
<button name="btnBack" id="btnBack" type="button" class="backbutton" onclick="javascript:closeOnlineStudentDetailsForm();">Cancel</button></td>
						</tr>
					</table>
				</form></td>
		</tr>
		<tr>
			<td><b style="color:#F00;">*</b><small>(This is a registration form with this you can collect the registration number and go through addmission procedure at branch.)</small></td>
		</tr>
	</table>
</div>
		</div>
		<div id="divonlineStudentDetailsSuccess" class="hide"></div>
		<br />
	</div>
</div>
<div id="divbranchAddress" style="display:none;">
	<center>
		<table cellpadding="6px" cellspacing="0" width="100%" border="0" id='tblbranchAddress'>
			<tr>
				<td class="txtLf txtBld">Name</td>
				<td>:</td>
				<td class="txtLf" colspan="4"><span id="tdbranchTitle"></span></td>
			</tr>
			<tr>
				<td class="txtLf txtBld">Address</td>
				<td>:</td>
				<td class="txtLf" colspan="4"><span id="tdbranchAddress1"></span> &nbsp; <span id="tdbranchAddress2"></span></td>
			</tr>
			<tr>
				<td class="txtLf txtBld">City</td>
				<td>:</td>
				<td class="txtLf"><span id="tdbranchCity"></span></td>
				<td class="txtLf txtBld">State</td>
				<td>:</td>
				<td class="txtLf"><span id="tdbranchState"></span></td>
			</tr>
			<tr>
				<td class="txtLf txtBld">Pincode</td>
				<td>:</td>
				<td class="txtLf"><span id="tdbranchPostcode"></span></td>
				<td class="txtLf txtBld">Phone</td>
				<td>:</td>
				<td class="txtLf"><span id="tdbranchPhone"></span></td>
			</tr>
			<tr>
				<td class="txtLf txtBld">Fax</td>
				<td>:</td>
				<td class="txtLf"><span id="tdbranchFax"></span></td>
				<td class="txtLf txtBld">Mobile</td>
				<td>:</td>
				<td class="txtLf"><span id="tdbranchMobile"></span></td>
			</tr>
			<tr>
				<td class="txtLf txtBld">Email 1</td>
				<td>:</td>
				<td class="txtLf"><span id="tdbranchemail1"></span></td>
				<td class="txtLf txtBld">Email 2</td>
				<td>:</td>
				<td class="txtLf"><span id="tdbranchemail2"></span></td>
			</tr>
		</table>
	</center>
</div>
 
		<!-- End Main Content--> 
  </div>
</div>
<!--   main div end -->     
	<!-- Div Footer Starts -->
	    <div id='msgBox' style="display:none;">
	<div id="msgBoxMessage" style="font-size:11px;"></div>
	<div id="msgBoxButtons" class="txtCt" style="position:relative; margin-top:35px;">		
		<input type="button" id="msgBoxOk" value="Ok" class="g-button-submit" onclick="closeMsgBox();">		 
	</div>
</div>

</body>


</html>