<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jai Jalaram Tuition Classes</title><link type="text/css" rel="stylesheet" href="frontend/css/css.css"   />
<link type="text/css" rel="stylesheet" href="frontend/css/menu-top.css"   />

<!-- ########## CSS Files ########## -->
<!-- Screen CSS -->
<link type="text/css" rel="stylesheet" href="frontend/css/banner.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="js/jquery/themes/base/jquery.ui.all.css" />
<!-- lightbox CSS -->
<link type="text/css" rel="stylesheet" href="frontend/js/prettyPhoto/css/prettyPhoto.css"  media="screen" />
<link type="text/css" rel="stylesheet" href="frontend/css/common.css" media="screen" />
<link rel="shortcut icon" type="image/x-icon" href="theme/default/images/r-online.jpg">

<!-- ########## end css ########## -->
</head>
<body>
<!--   main div start -->
<div  class="bodydiv">
  <div  class="maindiv"> 
	<!-- Header -->
	<div  class="tophead">
      <table width="100%" border="0" cellspacing="1" cellpadding="1">
        <tr>
          <td class="logodiv"><img src="frontend/images/logo/logo.jpg" /></td>
          
          <td width="100%" valign="bottom"><div style="float:right"><a href="online-registration.html" title="Register here"><img alt="" src="frontend/images/icon/register_now-icon.png" height="40" width="116" /></a></div></td>
       </tr>
      </table>
   
      </table></div>
<div class="menudiv">
	<ul class="ws_css_cb_menu videoCssMenu">
		<li>
			<a href="index.html" title="Home" >Home</a>
		</li>
		<li>
			<a href="aboutus.html" title="About Us">About Us</a>
		</li>
		<!--
		<li>
			<a href="#" title="View all videos under Technology">
			<span>Student Corner </span>
			<![if gt IE 6]>
			</a>
			<![endif]>
			<!--[if lte IE 6]><table><tr><td><![endif]-->
			<!--
			<ul class='ws_css_cb_menum' style="width:140px;">
				<li>
					<a href="#" title="View all videos under CSS Resources">Student Corner </a>
				</li>
				<li>
					<a href="#" title="About Open Source projects">Student Corner </a>
				</li>
				<li>
					<a href="#" title="View all videos under Programming">Student Corner </a>
				</li>
			</ul>
			<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		<!--
		</li>
		-->
		<li>
			<a href="studentcorner.html" title="Student Corner">Student Corner</a>
		</li>
		<li>
			<a href="photogallery.html" title="Photo Gallery">Photo Gallery</a>
		</li>
		<li>
			<a href="testimonials.html" title="Testimonials">Testimonials </a>
		</li>
		<li>
			<a href="contactus.html" title="Contact Us">Contact Us</a>
		</li>
		<!--<li class="searchbox" style="float:right; border-right:none;">
			<form id="form1" name="form1" method="post" action="">
				<input type="text" name="textfield" id="textfield" class="searchtextbox" />
				<input type="submit" name="button" id="button" value="Search" class="searchbutton" />
			</form>
		</li>-->
	</ul>
</div>
<!-- ======================================================= -->
    

	<!-- End Header -->
		<!-- Main Content-->
		<div  class="banner">
	<table width="200" border="0" cellspacing="1" cellpadding="1">
		<tr>
			<td  valign="top" height="265px">
			<div class="rightdiv">
              <h3 class="title">Courses Offered</h3>
              <div style="height:220px;overflow-y:auto;">
<ul  id="mainul">
			<li class="mainli" id="1" onclick="toggleSubject(1)" style="cursor:pointer;">
			XII Science				
				<ul id="mainul" class="subject_1 hide" >
							<li class="mainli">Biology</li>
							<li class="mainli">Chemistry</li>
							<li class="mainli">Electronics</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Physics</li>
							</ul>
					</li>
<li class="mainli" id="10" onclick="toggleSubject(10)" style="cursor:pointer;">
			XII Commerce				
				<ul id="mainul" class="subject_10 hide" >
							<li class="mainli">Account</li>
							<li class="mainli">English</li>
							</ul>
					</li>
			<li class="mainli" id="2" onclick="toggleSubject(2)" style="cursor:pointer;">
			X Higher English				
				<ul id="mainul" class="subject_2 hide" >
							<li class="mainli">English</li>
							<li class="mainli">Hindi</li>
							<li class="mainli">Marathi</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Science</li>
							<li class="mainli">Social science</li>
							</ul>
					</li>
			<li class="mainli" id="3" onclick="toggleSubject(3)" style="cursor:pointer;">
			X Lower English				
				<ul id="mainul" class="subject_3 hide" >
							<li class="mainli">English</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Science</li>
							</ul>
					</li>
			<li class="mainli" id="4" onclick="toggleSubject(4)" style="cursor:pointer;">
			X CBSE				
				<ul id="mainul" class="subject_4 hide" >
							<li class="mainli">Biology</li>
							<li class="mainli">Chemistry</li>
							<li class="mainli">English</li>
							<li class="mainli">Hindi</li>
							<li class="mainli">Marathi</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Physics</li>
							<li class="mainli">Social science</li>
							</ul>
					</li>
			<li class="mainli" id="5" onclick="toggleSubject(5)" style="cursor:pointer;">
			IX CBSE				
				<ul id="mainul" class="subject_5 hide" >
							<li class="mainli">Biology</li>
							<li class="mainli">Chemistry</li>
							<li class="mainli">English</li>
							<li class="mainli">Hindi</li>
							<li class="mainli">Marathi</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Physics</li>
							<li class="mainli">Social science</li>
							</ul>
					</li>
			<li class="mainli" id="6" onclick="toggleSubject(6)" style="cursor:pointer;">
			X (Marathi)				
				<ul id="mainul" class="subject_6 hide" >
							<li class="mainli">English</li>
							<li class="mainli">Maths</li>
							</ul>
					</li>
			<li class="mainli" id="7" onclick="toggleSubject(7)" style="cursor:pointer;">
			JEE				
				<ul id="mainul" class="subject_7 hide" >
							<li class="mainli">Chemistry</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Physics</li>
							</ul>
					</li>
			<li class="mainli" id="8" onclick="toggleSubject(8)" style="cursor:pointer;">
			AIPMT/PMT				
				<ul id="mainul" class="subject_8 hide" >
							<li class="mainli">Biology</li>
							<li class="mainli">Chemistry</li>
							<li class="mainli">Physics</li>
							</ul>
					</li>
			<li class="mainli" id="9" onclick="toggleSubject(9)" style="cursor:pointer;">
			IX 				
				<ul id="mainul" class="subject_9 hide" >
							<li class="mainli">English</li>
							<li class="mainli">Maths</li>
							<li class="mainli">Science</li>
							</ul>
					</li>
	</ul>
</div>
<script type="text/javascript">
function toggleSubject(liId){
	$(".subject_"+liId).toggle();
}
</script>
	
            </div>
			</td>
			<td valign="top"  rowspan="2" style="padding-left:20px;">
			
		<style>
#loadingMsg{
background-color:#E65D01;
color:#ffffff;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
float:right;
width:100px;
font-weight:bold;
padding:2px;
text-align:center;
display:none; 
}
</style>
<span id="loadingMsg">Loading .....</span>
<h3 class="title">Testimonials</h3>
<div id="divtmList">
	<div style="padding-bottom:5px;text-align:right;">
		<a class="backbutton" style="padding:5px;" href="#" onclick="writeTestimonial()">Write Testimonial</a>
	</div>
	<div id="divtestimonialList">
		<table border='0' width='100%' class='listTable' cellpadding="5px">
			<col width="15px"/>
			<col width="120px"/>
			<col width="90px"/>
			<col width="80px"/>
			<col width="100px"/>
			<col width="200px"/>
			<tr>
				<th> Sr.No. </th>
				<th> Name </th>
				<th> Email </th>
				<th> Mobile </th>
				<th> Added On </th>
				<th> Testimonial</th>
			</tr>
						<tr>
				<td class='txtCt' colspan='7'>No Record Present</td>
			</tr>
					</table>
	</div>
	<div style="padding-top:7px;text-align:right;">
		<a class="backbutton" style="padding:5px;" href="#" onclick="writeTestimonial()">Write Testimonial</a>
	</div>
</div>
<div id="divwriteTestimonialForm" class="roundedBorder hide">

<form name="frmtestimonial" id="frmtestimonial">
	<table cellpadding="3px" cellspacing="4px;" border="0" id='tbltestimonialForm' width="70%">
		<col width="20%"/><col width="3%"/><col width="77%"/>
		<tr>
			<td colspan='3'>
			<a name='em'>
			<div id="frmtestimonialErrMessage" class="frmErrMessage" style='padding-left:25px;width:300px;'>
			</div>
			</a>
			</td>
		</tr>
		<tr><td colspan="3" height="20px">&nbsp;</td></tr>
		<tr>
			<td class="labelHeading">Name</td>
			<td class="labelHeading"> : </td>
			<td >
			
<input type="text" name="txtname" id="txtname" value="" size="30" required="true" message="Please enter name" />			</td>
		</tr>
		<tr>
			<td class="labelHeading">Mobile No.</td>
			<td class="labelHeading"> : </td>
			<td>
			
<input type="text" name="txtmobileNo" id="txtmobileNo" value="" size="30" required="true" message="Please enter mobile number" />			</td>
		</tr>
		<tr>
			<td class="labelHeading">Email Id</td>
			<td class="labelHeading"> : </td>
			<td>
			
<input type="text" name="txtemailId" id="txtemailId" value="" size="30" required="true" message="Please enter email address" />			</td>
		</tr>
		<tr>
			<td class="labelHeading">Testimonial Text</td>
			<td class="labelHeading"> : </td>
			<td>
			
<textarea name="tatestimonial" id="tatestimonial" COLS="45" ROWS="4" required="true" message="Please enter testimonial text" rows="24" cols="80"></textarea>			</td>
		</tr>
		<tr>
			<td colspan="2"></td>
			<td >
			
<button name="btnsave" id="btnsave" type="button" class="backbutton" onclick="javascript:validateTestimonialForm();">Submit</button>			
<button name="btncancel" id="btncancel" type="button" class="backbutton" onclick="javascript:getTestimonialList();">Cancel</button>			</td>
		</tr>
	</table>
</form>
</div>
<div id="frmtestimonialSaveMessage" class="roundedBorder txtCt hide">
	<p>&nbsp;
		
    </p>
	<p>
		Thanks for your testimonial.
    </p>
	<p>Your testimonial will be reviewed and updated on site by our technical team ASAP.
    </p>		
	<p class="txtRt" style="height:40px;padding-top:10px; "><input type="button" class="backbutton" onclick="bakcToTestimonialList()" value="Back"></p>
</div>
		</td>
		</tr>
		<tr>
			<td align="left" valign="top" class="cola">
			<div class="spc">
			</div>
			
</body>

</html>